[submodule "lib/glfw3"]
	path = lib/glfw3
	url = https://github.com/glfw/glfw.git

[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/omniavinco/glew-cmake

[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm

[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git

[submodule "lib/lzo"]
	path = lib/lzo
	url = https://github.com/nemequ/lzo.git

[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
